
.servicesWrapper{
    width: 100vw;
    padding-top: 2rem;
}

.services{
    width: 100%;
    max-width: 1220px;
    margin: auto;
    text-align: center;
    margin-top: -5rem;
}

.services .sluzby{
    
}

.services .headerUnderline{
    width: 420px;
    height: 1px;
    background-color: black;
    font-weight: 900;
    font-size: 32px;
}
   