.bookingWrapper{
    padding-top: 10vh;
    margin-bottom: 10rem;
 
}




.categorySelectWrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;   
    width: 100%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    float: center;    
}

.serviceSelectHeader .icon{
    background: none;
    color: none;
    margin-top: 5px;
}

.mainSelect{
   
    margin-bottom: 10px;
    padding-bottom: 25px;
    height: 100%;
}

.additionalSelect{
    margin-top: -20px;
    margin-left: 80px;
    margin-bottom: 50px;  
}

.additionalSelect label{
font-size: 16px;
font-weight: 400;
}


.additionalSelect h3{
    font-weight: 500;
}

.serviceSelectHeader{
    width: 35%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
   
    float: center;
    justify-content: center;
}

.serviceSelectHeader h1{
    
    float: left;
    margin-left:20px;
    padding-bottom: 5px;
}

.checkBoxGrid{
    display: grid;
    grid-gap: 0px;
    width: 80%;
    margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.categoryHeader{
    display: flex;
}

.serviceSelectBody{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;    
}

.formControlLabel{
    margin-top: 0px;
    margin-bottom: 0px;

    
}