.sliderInfo{
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 0;
    right: 0;
    width: 50vw;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.72);
}

.sliderInfo .bottom{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.sliderInfo .bottom .row{
    margin: auto;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
    margin-bottom: 3px;
    padding-top: 20px;

}




.sliderInfo h1{
    color: white;
    font-size: 65px;
    font-family: 'Foldit', cursive;

    font-family: 'Sacramento', cursive;
    letter-spacing: 1.75px;
    font-weight:900;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}



.sliderInfo .row span{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    text-align: right;
}

.sliderInfo .row hr{
    width: 60%;
}


.smallHr{
    width: 30vw;
}

.openingHours{
    font-size: 18px;
}

.openingHours .day{
    text-align: left;
    padding-right: 20px;
    font-weight: 500;
}

.openingHours .hours{
    text-align: left;
}

.sliderInfo .reservation{
    background-color: rgba(0, 0, 0, 0.72);
    color: gold;
    font-weight:600;
    font-size: 20px;
    outline: none;
    padding: 15px 18px;
    border: 1px solid gold;
    width: 250px; 
    margin: auto;
    cursor: pointer;
    margin-top: 30px;

}