.calendarWrapper{
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}



.datePicker{
    width: 500px;
    margin-top: 10px;
}

.timeBlock.blocked {
  background-color: grey; /* or any other styling for a blocked time */
  cursor: not-allowed;
}

.timeBlocks{
  align-self: flex-start;
float: right;  
  display: grid;   
    grid-gap: 4px;
    width: 60%;   
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top:30px;
  margin-left: 100px;
  line-height:50px;
  justify-content: right;
  row-gap: 4px;
  margin-bottom: 5px;
height: 400px;

}

.timeBlock{
    float: left;
    width: 120px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
    color: black;  
    transition: all 0.5s ease-in-out;
}

.timeBlock:hover{
    background-color: black;
    color: gold;
    cursor: pointer;
}
