.aboutMeWrapper{
    width: 100vw;
    text-align: center;
    margin-top: 2rem;
    background-color: black;
    color: white;
    height: 64vh;
    padding-top: 5rem;
    padding-bottom: 0rem;
    margin-bottom: 0px;
    clip-path: polygon(0% 10%, 100% 0%, 100% 86%, 0% 100%);
}

.aboutMeWrapper .headerUnderline{
    width: 420px;
    height: 1px;
}

.aboutMe{
    max-width: 1600px;
    margin: auto;
    margin-top: 3rem;
    display: flex;
}

.aboutMe .left {
    flex: 2;
    background-color: black;
    display: flex; /* Ensure the container is a flex container */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.aboutMe .left img {
    height: 550px;
    display: flex;
    justify-self: center;
    margin: auto;
    background-color: black;
    width: 370px;
    object-fit: cover;
}

.aboutMe .right{
    flex: 8;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.aboutMe .right h2{
    font-weight: 400;
    margin-left: 0;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    text-align: left;
    justify-self: left;
    font-size: 28px;
}

.aboutMe .right span{
    color: white;
    line-height: 1.75;
    text-transform: none;


}



