.reservationWrapper{
    position: relative;    
}

.arrowBackIcon{
    position: absolute;
    z-index: 99999;
    height: 250px;
    width: 250px;
    top: 36.5%;
    left: 4.25%;
    cursor: pointer;
    transition: all 0.6s ease;
    color: gold;

}

.arrowBackIcon:hover{
    color: goldenrod;
}

.reservationSection {
    width: 100vw;
    height: 84.1vh; /* Note: Originally mentioned as 72.5vh, but the style shows 82.25vh */
    margin-top: 75px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-image: url("../../media/samBG.jpeg"); 
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center; /* This will vertically center the child in the container */
}

.reservationFrame {
    min-height: 700px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the content inside the reservationFrame vertically */
    text-align: center;
    color: black;
    border-radius: var(--size-radius);
    background: rgba(255, 255, 255, 0.965);
    border: 3px solid black;
    box-shadow: .25rem .25rem 0 black;
    transition: all 0.5s ease;
    width: 72%;
}


.reserveBtn{
        background-color: black;
        color: gold;
        font-weight:600;
        font-size: 20px;
        outline: none;
        padding: 15px 18px;
        border: 1px solid gold;
        width: 450px; 
        margin: auto;
        cursor: pointer;
        transition: all 0.5s ease;  
        padding-bottom: 15px;
        position: absolute;
        left: 37.5%;
        top: 85%;   
    }
    
    .reserveBtn:hover{
        background-color: gold;
        color:black;
        cursor: pointer;
    }

    .reserveBtn:disabled {
        background-color: #afafaf; /* Grayed out */
        cursor: not-allowed;
        color: gold;
      }

/* @media screen {
   Pro 190x1080 width: 84.5%;
} */