.reservationWrapper{
    position: relative;    
}

.arrowBackIcon{
    position: absolute;
    z-index: 99999;
    height: 150px;
    width: 150px;
    top: 12.5%;
    left: 7.5%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrowBackIcon:hover{
    color: gold;
}

.reservationSection{
    width: 100vw;
    height: 99vh;
    margin-top: 140px;
    display: flex;
    justify-content: center;


    }
    
    .reservationFrame{
    
      height: fit-content;

position: relative;
        display: flex;
        color: black;
        flex-direction: column;
        text-align: center;
        border-radius: var(--size-radius);
        background: white;
        border: 3px solid black;
        box-shadow: .25rem .25rem 0 black;
        transition: all 0.5s ease;  
        width: 72%;  
        
    }

/* @media screen {
   Pro 190x1080 width: 84.5%;
} */